language: python

python:
- "3.6"
- "3.7"
- "3.8"

install:
- "python setup.py install"

script:
- "python setup.py test"

after_success:
- export NETNIR_USER=deploy
- export NETNIR_PASS=deploy
- "pip install sphinx recommonmark sphinx_rtd_theme recommonmark"
- "cd docs/_mkdocs"
- "sphinx-apidoc -f -o netnir ../../netnir"
- "make clean; make dirhtml"
- 'rsync -avz --exclude sphinx-env "${PWD}/_build/dirhtml/" "../"'
- "cd -"

deploy:
- provider: pages
  github-token: $GITHUBTOKEN
  skip-cleanup: true
  keep-history: true
  target-branch: gh-pages
  local-dir: "docs"
  on:
    branch: master
    condition: $TRAVIS_PYTHON_VERSION = "3.6"
